extends layout

block content
  .header
    img(src="/img/susquehannock.jpg")
    div.container
      h1.super
        span.highlight-green Susquehannock High School 
  .container-narrow.overlap
    .content
      .page-header: h1 Annual Recoating
      p.
        Your sports floor should be screened and recoated annually. 
        This is done to rebuild the wear surface on top of the wood 
        and refresh the appearance of the floor to bring back its new look.
        The screening process consists of a very light disc sanding to remove scuff marks and 
        light scratches which dull your floor, while not removing permanent 
        game-lines, logos, etc. Some facilities require semi-annual coatings due 
        to usage beyond sports. If your facility is also used for dances, bingo, 
        school functions, etc. this should be considered.
      p.
        Newer wood floors should have multiple coats over a several year period to get a good finish build.

      h2 Down time
      p.
        Some of the newer water based finishes only take a day to cure, so the 
        floors can be used in 24 hours after coating. Oil finish is generally 
        less expensive than water based finishes but there is more 
        down time for the facility due to longer curing times.
        All the finishes we use are V.O.C. compliant.  
      p.
        Additional games lines, logos, lettering can be added or existing ones touched up before any finish coats are applied.

      h2 Maintenance 
      p.
        Keeping your air filters clean is essential. Dry mopping with a clean mop 
        should be done daily and the floor should be cleaned regularly with a non-wax cleaner.
