div#myCarousel.carousel.slide
  div.carousel-inner
    div.item.active
      img(src='/img/slide-before.jpg')
      div.container
        div.carousel-caption
          h1.super
            span.highlight-green Before the games start <br />
            span.highlight-green Before the fans come
          p.lead 
            span.highlight-black Our work in progress as we installed the gymnasium floor
    div.item
      img(src='/img/slide-after.jpg')
      div.container
        div.carousel-caption
          h1.super
            span.highlight-green 
              | The floor is the reflection <br />
              | of your program  
          p.lead Our finished product shines with a fresh coat of finish
  a.left.carousel-control(href="#myCarousel", data-slide="prev") &lsaquo;
  a.right.carousel-control(href="#myCarousel", data-slide="next") &rsaquo;

