extends layout

block content
  .header
    img(src="/img/philadelphia-university.jpg")
    div.container
      h1.super
        span.highlight-green Philadelphia University 
  .overlap.container-narrow#contact
    .page-header: h1 Contact 
    .row
      .span4
        p Chambers &amp; Sons Flooring Inc.
        p.
          <b>Address</b><br />
          323 East King Street<br />
          Malvern, PA 19355
        p.
          <b>Phone</b><br />
          610.647.0200
        p.
          <b>email:</b><br />
          info@chambersflooring.com
        p.
          <b>fax:</b><br />
          610.647.1490
      .span4.well.contact

