extends layout

block content
  include carousel
  div.container-narrow.overlap.home
    .page-header: h1 Who We Are - Chambers &amp; Sons Flooring
    p.
      For over 50 years the Chambers Family has been selling, installing, 
      maintaining and repairing wood and synthetic athletic surfaces along with 
      bleachers, wall padding, and basketball backstops.
      We have two innovative patented floor systems that 
      are being successfully used. Our product development has not stopped there. 
      We currently have another floor patent pending. 
      We have installed, sanded and finished over 5 million sq. ft. of maple flooring and 
      installed over half a million sq. ft. of synthetic surfacing.
