extends layout

block content
  include carousel
  div.overlap.container
    h1.how-can-we Who we are 
    p(style="font-size: 30px; line-height: 1.3").
      For over 30 years Chambers Floor has been installing a variety of floors 
      systems making them the choice of hundreds of architects, general 
      contractors, and owners who expect fine craftsmanship, quality products, 
      and exceptional value time and time again.
