extends layout

block content
  include carousel
  div.overlap.container.home
    h1.how-can-we Who we are 
    p(style="font-size: 30px; line-height: 1.3").
      For over 50 years the Chambers Family has been selling, installing, 
      maintaining and repairing wood and synthetic athletic surfaces along with bleachers, wall padding, and backetball backstops.
      We have two innovative patented flooring systems that 
      have been successfully in use for years. Our product development has not stopped there. 
      We currently have another flooring patent pending. 
      We recently worked at the U.S. Armory in Washinton D.C.
      The job consisted of the removal and installation of 78,000 sq. ft. of maple flooring
      and  the rebuilding of the largest motorized bleachers on the east coast.
      However we are not limited to large facilities. 
      We also work with grade schools, local dance studios, high schools, colleges, and community centers.  
    .page-header
      h1 New Installation
    p.
      We help navigate you through the many different floor sysytems to figure 
      out what will work best for your facility. 
    p. 
      Hardwood flooring systems have evolved over the years from an iron bound (tar and wood) 
      to resiliant flooring surface without deadspots. Different sports require different
      systems. Especially in todays environment. We take into consideration existing 
      doors for the profile of the floor - what the intended use and give you the 
      best floor for your dollar.

    .page-header
      h1 Sanding &amp; Refinishing
    p.
      Your wood flooring can be restored to look almost new again.<br />

      Reasons to sand your court floor:<br />

      1)Multipul layers of old finish absorbs lightning. Gymnasium appears darker.<br />

      2) Poor adhesion between old finish coats. (peeling, flaking, or bubbling). <br />

      3) Finishes have worn thru and bare wood is now exposed<br />

      4) Cupped and/or stained boards<br />

      5) game-line and logos need updating or removed. Chambers & Sons Fl can help you create a
      professional game-line layout, logo for your phycialty<br />
