doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    if locals.title
      title #{title} - Chambers and Sons Flooring
    else
      title Chambers and Sons Flooring
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='A trusted installer of commercial hardwood and synthetic athletic surfaces')
    link(rel='shortcut icon', href='/img/favicon.png')
    link(rel='stylesheet', href='/css/main.css')
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //if lt IE 8
      script 
        alert("Sorry, but your browser is not supported. Please use another browser or upgrade for a better experience. Thanks!")

    if locals.env === 'production'
      script(data-main='js/main-built', src='/js/libs/require.js')
    else
      script(data-main='js/boot', src='/js/libs/require.js')
  body(id="#{page}")
    include nav
    #notification
    block content
    include footer
   
