.navbar.navbar-inverse
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .nav-collapse.collapse
        ul.nav
          li
            a.brand(href="/")
              span Chambers Flooring
              img(src="/img/chambers-logo.png") 
          include links

