.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="/")
        span Chambers Flooring
        img(src="/img/chambers-logo.png") 
      .nav-collapse.collapse
        ul.nav
          include links
