extends layout

block content
  .header
    img(src="/img/elkland.jpg")
    .container
      h1.super
        span.highlight-green Archbishop Carroll High School 
  .overlap.container-narrow
    .page-header: h1: span.highlight-white New Installations
    p.
      Gymnasium wood floor systems have evolved tremendously over the past 
      50 years.  The days of  non-cushioned  floors are in the past. The new 
      systems available vary from low profile fixed resilient to floating 
      resilient floors.
    p.
      There is a multitude of flooring systems to select from and we can help 
      you navigate through them to see which system best fits your needs and budget.
    p.
      With over 50 years of experience with successful installations, as well as 
      personally patenting flooring  systems, no one can better help you 
      select a flooring system that best suits your facility's needs. We can 
      also assist you with bleachers, backboards, padding, floor 
      leveling, asbestos removal, etc.  We can help you put the whole package 
      together.

    .page-header: h1 Retrofitting a new gym in an existing facility
    p.
      Along with the many flooring systems to consider there are also other 
      important items that need to be addressed when retrofitting to an 
      existing facility. Here are just a few questions that need to be 
      considered which we bring forward to assist each of our customers in 
      order to achieve the best installation possible. Is there asbestos in 
      the subfloor? Is the floor level? Do ADA ramps need to be installed?
      Do the doors need to be cut? Do the backboards and bleachers need 
      to be raised or lowered? Does my current floor profile match any of 
      the new flooring systems currently available in order to help reduce 
      cost and meet our facilities budget constraints. Can we utilize the 
      subfloor of the existing gymnasium in order to reduce our cost on the 
      new gym floor?
    p.
      With over 5 million sq ft of flooring installed sanded and finished 
      we have addressed and successfully handled each one of these questions 
      and situations. Our references speak for themselves.  
