extends layout

block content
  .header
    img(src="/img/st-andrews.jpg")
    div.container
      h1.super
        span.highlight-green St. Andrews 
  .container-narrow.overlap
    .content
      .page-header: h1 References 
      p.
        We recently worked at the U.S. Armory in Washington D.C. The job 
        consisted of the removal and installation of 78,000 sq. ft. of maple 
        flooring and the rebuilding of the largest motorized bleachers on 
        the east coast. We are not, however, limited to large facilities. 
        We also work with grade schools, local dance studios, high schools, colleges, and community centers.
