extends layout

block content
  .header.sanding
    img(src="/img/carroll.jpg")
    div.container
      h1.super
        span.highlight-green Elkland High School 
  .overlap.container-narrow
    .page-header: h1 Sanding &amp; Refinishing
    p.
      Your dull looking gymnasium wood flooring can be restored to look new again. 
      Here are a few reasons why you should consider sanding your court floor:
    ol
      li Due to poor adhesion of the old finish, the floor is peeling , flaking, chipping or bubbling.  
      li Multiple layers of old finish absorb the overhead lightning making the gymnasium visibly darker.
      li The finishes have worn thru and bare wood is now exposed.
      li Cupped and/or stained boards that are an eyesore will have a uniform surface.   
      li Newly repaired floor  will blend into the existing  floor making the floor uniform.
      li 
        | Game-lines, lettering and logos can be updated, added or removed. 
        | Upon request, Chambers & Sons Flooring can help you create a professional layout for your facility. 
