extends layout

block content
  .header
    img((src="/img/kutztown.jpg")
    h1.super
      span.highlight-green Kutztown University (58,000 sq. ft.) 

  div.overlap.container.synthetic
    .page-header: h1 Synthetic Floors 
    p.
      Rolled out rubber padding  adhered to the sub-surface and a monolithic 
      poured urethane is an excellent surface in a wide range of applications. 
      Different thickness padding and different hardness of urethane can be 
      used in  gymnasiums, jogging tracks, cafeteria’s, indoor track and field 
      that is  spike resistants.  The urethane  and rubber padding comes in 
      different  thickness to fit your facilities needs. There is also a 
      selection of the colors to  chose from along with game line coloring and 
      logos.
    p.
      Maintanence is dry mopping or wet mopping  with a netural  cleaner or auto scruber when needed. 
    p.
      Depending on use and  conidition the urethane can always be refreshed 
      with a new top coat and or a ware surface along with new gamelines  and logos.    

