extends layout

block content
  .header
    img(src="/img/kutztown.jpg")
    div.container
      h1.super
        span.highlight-green Kutztown University (58,000 sq. ft.) 
  .overlap.container-narrow
    .page-header: h1 Synthetic Floors 
    p.
      Rolled out rubber padding  adhered to the sub-surface and a monolithic 
      poured urethane is an excellent surface in a wide range of applications. 
      Different thickness padding and different urethanes can be 
      used for gymnasiums, jogging tracks, cafeterias, indoor track
      and spike resistant indoor tracks.
      There is also a 
      selection of the colors to choose from along with game line coloring and 
      logos.
    p.
      Maintenance is dry mopping or wet mopping with a neutral cleaner or auto scrubber when needed.
    p.
      Depending on use and condition the urethane can always be refreshed 
      with a new top coat and or a wear surface along with new game lines and logos.

