@import "../js/libs/bootstrap/less/bootstrap.less";
@import "../js/libs/bootstrap/less/responsive.less";
// Fonts
@import "fonts.less";

[class^="icon-"]{
  background-image: url(/js/libs/bootstrap/img/glyphicons-halflings.png);
}
.icon-white {
  background-image: url(/js/libs/bootstrap/img/glyphicons-halflings-white.png);
}


.bg {
  background: url(/img/at-the-board.jpg) no-repeat top center;
  height: 750px;
}

.border-radius-for-pie(@radius: 5px) {
  .border-radius(@radius);
  behavior: url(/js/libs/PIE.htc);
}

.gradient-for-pie(@startColor: #555, @endColor: #333) {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor) to(@endColor)); /*old webkit*/
    background: -webkit-linear-gradient(@startColor, @endColor); /*new webkit*/
    background: -moz-linear-gradient(@startColor, @endColor); /*gecko*/
    background: -ms-linear-gradient(@startColor, @endColor); /*IE10 preview*/
    background: -o-linear-gradient(@startColor, @endColor); /*opera 11.10+*/
    background: linear-gradient(@startColor, @endColor); /*future CSS3 browsers*/
    -pie-background: linear-gradient(@startColor, @endColor); /*PIE*/
}

@myGreen: #b8d30b;


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* ==========================================================================
   Carousel Base Class
   ========================================================================== */
.carousel {
  margin-bottom: 60px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
}

.carousel .item {
  height: 600px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  //min-width: 100%;
  //height: 500px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  padding: 0 20px;
  margin-top: 125px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */


/* ==========================================================================
   Fonts 
   ========================================================================== */
p, li {
  font-family: SinaNova, georgia, sans-serif !important;
  font-size: 30px;
  line-height: 1.3;
}



/* ==========================================================================
   Base tags 
   ========================================================================== */
ol {
  margin-left: 6em;
}

h1 {
  margin: .5em 0;
  margin-top: 1em;
  color: #b8d30b;
  font-size: 40px;
}

.page-header {
  border-color: #b8d30b;
}

h1, h2, h3 {
  line-height: 1.3;
}

/* ==========================================================================
   Heading Classes
   ========================================================================== */
.super {
  font-family: Nexa-Bold, Arial, sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 1.4 !important;
  margin-bottom: 12px !important;
  text-shadow: none !important;
}

.highlight-green {
  //background: #b8d30b;
  //background-color: rgba(184,211,11,0.75);
  //background: transparent;
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFB8D30B,endColorstr=#BFB8D30B)"));   /* IE6 & 7 */
  //zoom: 1;
  padding: 14px 20px 6px 20px;
}

.highlight-black {
  background: #181818;
  background: rgba(24,24,24,0.75);
  padding: 5px 26px;
}

.highlight-white {
  background: #fff;
}

#myCarousel .lead {
  font-family: Nexa-Bold, Arial, sans-serif !important;
  color: #FFF;
  font-size: 22px;
  text-shadow: none;
}

body {
  background-color: #f8f8f8;
  padding-top: 70px;
}


footer {
  @font-color: #eeecdf;
  margin-top: 50px;
  background-color: #2e2d2c; 
  padding-top: 30px;
  padding-bottom: 20px;
  color: #fff;
  .clearfix;
  .container {
    .container;
    width: 960px;
  }
  ul {
    list-style: none;
    .clearfix;
    margin-bottom: 0;
    margin-left: 0;
  }
  li {
    padding: 0 38px 0px;
    float: left;
    font-size: 14px;
    color: @font-color;
  }
  li:first {
    padding-left: 0;
  }
  li li {
    padding: 0;
    float: none;
  } 
  li.small-font {
    font-size: 11px;
  }
  p {
    font-size: 15px;
  }
  a {
    color: @font-color;
  } 
  .copyright {
    margin-top: 25px;
  }
  .contact { 
    //.clearfix;
    //margin-bottom: 20px;
    //text-align: center;
  }
  .footer-icons {
    height: 40px;
    padding-left: 47px;
    height: 40px;
    //margin-bottom: 15px;
    //text-align: center;
    //text-align: left;
  }
  .footer-phone {
    .footer-icons;
    background: url(/img/footer-phone.png) no-repeat top left;
    //&:after { content:"\A"; white-space:pre; }
  }
  .footer-email {
    .footer-icons;
    background: url(/img/footer-email.png) no-repeat top left;
  }
}

/* ==========================================================================
   Navbar 
   ========================================================================== */
.navbar {
  margin-bottom: 0;
  .btn-navbar {
    .buttonBackground(darken(@navbarInverseBackgroundHighlight, 5%), darken(@navbarInverseBackground, 5%));
    padding: 22px 26px;
  }

}


.navbar .brand {
  //background: url(/img/chambers-logo.png) no-repeat top left;
  width: 109px;
  height: 58px;
  padding: 5px 7px !important;
  margin: 0 !important;
  span {
    text-indent: -9999px;
    display: block;
    position: absolute;
  }
}

.navbar .nav > li > a {
  padding: 25px 22px;    
}

.navbar .navbar-inner {
  position: relative;
  z-index: 2;
  border: 0;
  border-bottom: 1px solid #fff !important; 
  .border-radius(0);
}

.navbar .nav > li > a { 
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .nav .active > a {
  color: #fff;
}

.navbar .nav > li > a {
  font-size: 16px;
  &:hover {
    color: #fff !important;
  }
}

.navbar .navbar-inner {
  @color-light: #b1005d;
  @color-dark: #9e0051;
  #gradient > .vertical(@color-light, @color-dark);
  .nav .active > a {
    background-color: @color-dark;
  }
  .nav > li > a {
    &:hover {
      background-color: @color-dark;
    }
  }
  .btn-navbar {
    .buttonBackground(darken(@color-dark, 5%), darken(@color-dark, 5%));
  }
}

.container-narrow {
  .container;
  width: 750px;
}
.overlap {
  .box-shadow(0 0 15px rgba(0,0,0,0.13));
  margin-top: -100px;
  background-color: #fff;
  position: relative;
}
#home .overlap {
  margin-top: -200px;
}

.header { 
  height: 500px;
  overflow: hidden;
  position: relative;
  img{
    position: absolute; 
  }
  .super {
    position: relative;
    margin-top: 150px;
    float: right;
    font-size: 50px;
  }
}

.header.sanding .super {
  //padding-top: 200px;
}

#alert {
  position: fixed;
  left: 50%;
  z-index: 1060;
  .content {
    position: relative;
    left: -50%;
    background: #F9EDBE;
    border: 1px solid #F0C36D;
    color: #222;
    .box-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
    .border-radius-for-pie(5px);
    font-size: 16px;
    //e chefont-weight: bold;
    padding: 10px;
    text-align: center;
    .close {
      color: #fff; 
      text-decoration: none;
      margin-top: -9px;
      margin-right: -6px;
      .opacity(100);
    }
  }
 .error {
    border: 1px solid #E73E36;
    background: #fff;
    color: #E73E36;
    .close {
      color: #E73E36;
    }
  }
}



/* ==========================================================================
   Contact Page 
   ========================================================================== */
#contact {
  .span4.well {
    width: 360px; 
  }
  button { 
    display: block;
  }
  textarea {
    height: 150px;
    width: 300px;
  }
  .body {
    p {
      font-size: 28px;
    }
    b {
      font-size: 24px;
    }
  }
}

form {
  span.error {
    color: @errorText;
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
  }
}

#myModal {
  #alert;
  .content {
    width: 600px; 
    background: #333;
    border: 1px solid #000;
    color: #fff;
    font-size: 18px;
    .inner {
      padding: 40px;
      .clearfix(); 
    }
    p {
      font-size: 40px;
    }
  }
}

.modal-backdrop,
.modal-backdrop.fade.in {
  .opacity(50);
}


/* ==========================================================================
   Responsive 
   ========================================================================== */
/* Large desktop */
@media (min-width: 1200px) { }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { }
 
/* Landscape phones and down */
@media (max-width: 480px) { }

// 979 - 2000
@media (min-width: 979px) { 
  .container-narrow {
    .container;
    width: 75%;
    .content {
      padding: 0 10%;
      padding-bottom: 10%;
    }
  }
}

// 0 - 978
@media (max-width: 978px) { 
  .container-narrow {
    .container;
    width: auto;
    .content {
      padding: 0 5%;
      padding-bottom: 5%;
    }
  }
  body {
    // overide bootstrap 
    padding-left: 0px;
    padding-right: 0px;
  }
  .container-narrow {
   width: auto;
  }
  footer {
    maring-top: 0;
    .container {
      width: auto;
    }
    li {
      // from bootstrap
      float: none;
      display: block;
      width: 100%;
      margin-left: 0;
      .box-sizing(border-box);
      // me
      text-align: center;
      padding: 0;
      margin-bottom: 1em;
    }
    .contact div{
      display: inline-block;
      text-align: left;
      margin-bottom: 1em;
    }
    ul li ul li {
      margin-bottom: 0;
    }
  }
}
// 0 -768
@media (max-width: 768px) { 
  .header {
    height: auto;
    img {
      position: static;
      //display: block;
    }
    .super {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 20px;
      margin: 0;
      padding: 0;
      margin-top: 5%;
      line-height: 1 !important;
      span {
        padding: 0 5px;
        //background: transparent;
      }
    }
  }
  .page-header {
    h1 {
      font-size: 34px;
      margin: 0;
      padding: 0;
      line-height: 1;
    }
  }
  footer {
    margin-top: 0;
  }
  h2 {
    font-size: 24px;
  }
  #myCarousel {
    position: relative;
    .item {
      height: auto;
    }
    img {
      position: static;
    }
  }
  .carousel {
    margin-bottom: 0;
    .carousel-inner {
      position: static;
    }
    .container {
      position: static;
    }
  }
  .carousel-caption {
    position: absolute;
    top: 10px;
    margin-top: 0;
    h1 {
      font-size: 24px;
      span {
        padding: 0 5px;
      }
    }
    .lead {
      font-size: 18px !important;
      span {
        padding: 0 5px;
        line-height: 1.4;
      }
    }
  }
  .carousel-control {
    top: 50%;
  }
  .overlap, #home .overlap {
    margin-top: 0;
  }
  p, li {
    font-size: 22px;
  }
}



// there is a specific rule for navbar collapse defined in the variables file
@media (max-width: @navbarCollapseWidth) {
  body {
    padding-top: 0px;
  }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    // overide bootstrap 
    margin-left: 0px;
    margin-right: 0px;
  }
  #home .navbar .navbar-inner .brand {
    background-color: transparent;
  }
}
